name: Task Manager CI CD

on:
  push:
    branches: main
  workflow_dispatch:

jobs:
  build:
    name: Build & Test & Package task manager application
    runs-on: ubuntu-latest

    steps:    
      - name: Checkout repository
        uses: actions/checkout@v4
